.a{
  background: #1B3764;
  padding: 100px 0;
  &__nav{
    padding: 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    &-title{
      color: #FFF;
      font-size: 21px;
    }
    &-linia{
      width: 35px;
      height: 2px;
      background: #FFCA42;
    }
    &-linias{
      display: flex;
      align-items: center;
      column-gap: 14px;
    }
    &-subtitle{
      color: #FFF;
      font-size: 64px;
      line-height: 78px;
      margin: 10px 0 24px;
    }
    &-text{
      color: #B4C7E7;
      font-size: 18px;
      line-height: 28.5px;
    }
    &-btn{
      color: #1B3764;
      font-size: 19px;
      padding: 18px 52px;
      border: 2px solid #FFCA42;
      background: #FFCA42;
    }
    &-link{
      color: #FFF;
      font-size: 19px;
      border-bottom: white solid 2px;
      padding: 7px 0;
    }
    &-btns{
      display: flex;
      align-items: center;
      column-gap: 51px;
      margin: 42px 0 47px;
    }
    &-desc1{
      color: #FFF;
      font-size: 24px;
      position: relative;
      &::before{
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #FFCA42;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-28px);
      }
    }
    &-desc2{
      color: #B4C7E7;
      font-size: 17px;
      margin-top: 12px;
    }
    &-block{
      display: flex;
      column-gap: 86px;
      margin-left: 27px;
    }
  }
}