.f{
  padding: 136px 0 140px;
  &__box{
    padding-left: 30px;
    width: 303px;
    height: 272px;
    background: #F4F8FF;
    &-ball{
      margin: 30px 0 30px;
      border-radius: 50%;
      background: #FFCA42;
      width: 50px;
      height: 50px;
      color: #1B3764;
      font-size: 23px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text{
      color: #1B3764;
      font-size: 24px;
      font-weight: 400;
    }
  }
  &__block{
    display: flex;
    column-gap: 30px;
  }
  &__nav{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  &__navs{
    display: flex;
    column-gap: 109px;
    align-items: center;
  }
  &__right{
    width: 555px;
    height: 652px;
    border: 10px solid #FFCA42;
    position: relative;
    &-img{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}