.g{
  background: #F4F8FF;
  padding: 116px 0 130px;
  &__block{
    padding-top: 42px;
    padding-left: 40px;
    width: 635px;
    height: 242px;
    background: #FFF;
    &-title{
      color: #1B3764;
      font-size: 24px;
      font-weight: 400;
    }
    &-text{
      margin: 21px 0 10px;
      color: #969AA0;
      font-size: 19px;
      font-weight: 400;
      line-height: 32.3px;
    }
    &-ball{
      width: 16px;
      height: 16px;
      border-radius: 100px;
      background: #FFCA42;
    }
    &-subtitle{
      color: #1B3764;
      font-size: 22px;
      font-weight: 400;
    }
    &-desc{
      color: #969AA0;
      font-size: 17px;
      font-weight: 400;
    }
    &-box{
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    &-boxes{
      display: flex;
      column-gap: 45px;
      align-items: center;
    }
  }
  &__nav0{
    display: flex;
    column-gap: 30px;
  }
  &__nav{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &__btn{
    color: #1B3764;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    padding: 23px 92px;
    border: 2px solid #FFCA42;
    background: #FFCA42;
  }
  &__btns{
    display: flex;
    margin: 70px 0 34px;
    justify-content: center;
  }
  &__text{
    color: #969AA0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    span{
      color: #1B3764;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }
}