.h{
  padding: 130px 0 150px;
  &__title{
    color: #1B3764;
    font-size: 42px;
    font-weight: 400;
    position: relative;
    margin-bottom: 59px;
    &::before{
      content: '';
      width: 50px;
      height: 3px;
      background: #FFCA42;
      position: absolute;
      transform: translateY(135px);
    }
  }
  &__left{
    &-box{
      margin: 22px 0 10px;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &-title{
      color: #1B3764;
      font-size: 22px;
      font-weight: 400;
    }
    &-desc{
      color: #1B3764;
      font-size: 18px;
      font-weight: 400;
    }
    &-text{
      color: #969AA0;
      font-size: 19px;
      font-weight: 400;
    }
  }
  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right{
    padding-top: 30px;
    padding-left: 35px;
    width: 381px;
    height: 292px;
    background: #1B3764;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.11);
    &-title{
      color: #FFF;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    &-box{
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    &-subtitle{
      color: #FFF;
      font-size: 22px;
      font-weight: 400;
      margin: 20px 0 13px;
    }
    &-text{
      color: #B4C7E7;
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
    }
  }
  &__center{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-right: 20px;
    margin-left: 63px;
  }
}