.i{
  padding: 126px 0 150px;
  background: #F4F8FF;
  &__block{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.07);
    width: 420px;
    height: 622px;
    &-title{
      color: #1B3764;
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
    }
    &-text{
      color: #969AA0;
      font-size: 19px;
      font-weight: 400;
      line-height: 30.4px;
      margin: 19px 0 11px;
    }
    &-box{
      padding-left: 30px;
      padding-top: 25px;
    }
    &-subtitle{
      color: #1B3764;
      font-size: 19px;
      font-weight: 400;
      position: relative;
      &::before{
        content: '';
        width: 94.047px;
        height: 2px;
        background: #1B3764;
        position: absolute;
        top: 30px;
        left: -2px;
      }
    }
    &-desc{
      color: #1B3764;
      font-size: 16px;
      font-weight: 400;
    }
    &-boxes{
      display: flex;
      column-gap: 138px;
      align-items: center;
    }
  }
  &__nav{
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }
}